<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adăugați comodă</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/brand/cart-icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <style>
        body {
            background: url('/assets/background.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>
<body>
<!-- Clasă Navbar -->
<nav class="navbar fixed-top navbar-expand-sm shadow mb-2" style="background-color: #e3f2fd;">
    <div class="container-lg">
        <a class="navbar-brand" href="/index">
            <img width="32" height="32" class="d-inline-block align-text-top" th:src="@{/assets/brand/cart-icon.png}" src="" alt="" >
            Acasă
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPage" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Deschideți meniul">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPage">
            <div class="navbar-nav">
                <a class="nav-link" href="/birouri">Birouri</a>
                <a class="nav-link" href="/scaune">Scaune</a>
                <a class="nav-link" href="/biblioteci">Biblioteci</a>
                <a class="nav-link" href="/rafturi">Rafturi</a>
                <a class="nav-link" href="/comode">Comode</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adăugați
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sm-end dropdown-menu-md-start shadow mt-3" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/adauga/birou">Adăugați birou</a>
                        <a class="dropdown-item" href="/adauga/scaun">Adăugați scaun</a>
                        <a class="dropdown-item" href="/adauga/biblioteca">Adăugați bibliotecă</a>
                        <a class="dropdown-item" href="/adauga/raft">Adăugați raft</a>
                        <a class="dropdown-item active" aria-current="page" href="/adauga/comoda">Adăugați comodă</a>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>

<!-- Pentru a spația corect conținutul de Navbar -->
<div class="d-flex" style="height: 60px;">
    <div class="vr"></div>
</div>

<!-- Formular -->
<div class="my-2 container-md">
    <div th:if="false == ${exists}">
        <h2>Adăugați o comodă</h2>
        <p>Introduceți datele obiectului</p>
    </div>
    <div th:if="true == ${exists}">
        <h2>Editați o comodă</h2>
        <p>Schimbați datele obiectului</p>
    </div>

    <form th:action="@{/editare/submitComoda}" th:object="${comoda}" method="post">
        <input type="text" class="d-none" th:field="${comoda.id}">

        <div class="form-floating shadow mb-3">
            <input type="text" class="form-control" id="inputCategory" placeholder="Categorie" th:field="${comoda.category}">
            <label for="inputCategory">Categorie</label>
        </div>

        <div class="form-floating shadow mb-3">
            <input type="text" class="form-control" id="inputName" placeholder="Nume" th:field="${comoda.name}">
            <label for="inputName">Nume</label>
        </div>

        <div class="row row-cols-2">
            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="text" class="form-control" id="inputColor" placeholder="Culoare" th:field="${comoda.color}">
                    <label for="inputColor">Culoare</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="text" class="form-control" id="inputMaterial" placeholder="Material" th:field="${comoda.material}">
                    <label for="inputMaterial">Material</label>
                </div>
            </div>
        </div>

        <div class="form-floating shadow mb-3">
            <input type="number" class="form-control" id="inputPrice" placeholder="Pret" th:field="${comoda.price}">
            <label for="inputPrice">Preț</label>
        </div>

        <div class="form-floating shadow mb-3">
            <select  class="form-select" id="inputMagazin" th:field="${comoda.magazin.id}">
                <option th:each="magazin : ${magazinList}" th:value="${magazin.id}" th:text="${magazin.name}"></option>
            </select>
            <label for="inputMagazin">Magazin</label>
        </div>

        <div th:if="false == ${exists}">
            <div class="d-grid gap-2 col-6 shadow mb-3 mx-auto">
                <button class="btn btn-primary shadow" type="submit">Adăugați</button>
            </div>
        </div>

        <div th:if="true == ${exists}">
            <div class="row row-cols-2 mb-3">
                <div class="col">
                    <div class="d-grid">
                        <button class="btn btn-primary shadow" type="submit">Salvați</button>
                    </div>
                </div>

                <div class="col">
                    <div class="d-grid">
                        <button class="btn btn-danger shadow" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">Ștergeți</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Dialog confirmare ștergere -->
<div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmare</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Anulați"></button>
            </div>
            <div class="modal-body">
                Sigur doriți să ștergeți elementul respectiv?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Anulați</button>
                <form th:action="@{/editare/deleteComoda}" th:object="${comoda}" method="post">
                    <input class="d-none" name="comodaId" th:value="${comoda.id}">
                    <button class="btn btn-danger">Ștergeți</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>