<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adăugați bibliotecă</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/brand/cart-icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<!-- Clasă Navbar -->
<nav class="navbar fixed-top navbar-expand-sm shadow mb-2" style="background-color: #e3f2fd;">
    <div class="container-lg">
        <a class="navbar-brand" href="/index">
            <img width="32" height="32" class="d-inline-block align-text-top" th:src="@{/assets/brand/cart-icon.png}" src="" alt="" >
            Acasă
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPage" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Deschideți meniul">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPage">
            <div class="navbar-nav">
                <a class="nav-link" href="/birouri">Birouri</a>
                <a class="nav-link" href="/scaune">Scaune</a>
                <a class="nav-link" href="/biblioteci">Biblioteci</a>
                <a class="nav-link" href="/rafturi">Rafturi</a>
                <a class="nav-link" href="/comode">Comode</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adăugați
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sm-end dropdown-menu-md-start shadow mt-3" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/adauga/birou">Adăugați birou</a>
                        <a class="dropdown-item" href="/adauga/scaun">Adăugați scaun</a>
                        <a class="dropdown-item active" aria-current="page" href="/adauga/biblioteca">Adăugați bibliotecă</a>
                        <a class="dropdown-item" href="/adauga/raft">Adăugați raft</a>
                        <a class="dropdown-item" href="/adauga/comoda">Adăugați comodă</a>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>

<!-- Pentru a spația corect conținutul de Navbar -->
<div class="d-flex" style="height: 60px;">
    <div class="vr"></div>
</div>

<!-- Formular -->
<div class="my-2 container-md">
    <h2>Adăugați o bibliotecă</h2>
    <p>Introduceți datele obiectului</p>
    <form th:action="@{/submitBiblioteca}" th:object="${biblioteca}" method="post">
        <div class="row row-cols-2">
            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="number" class="form-control" id="inputNr" placeholder="Nr." th:field="${biblioteca.nr}">
                    <label for="inputNr">Număr</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="text" class="form-control" id="inputCategory" placeholder="Categorie" th:field="${biblioteca.category}">
                    <label for="inputCategory">Categorie</label>
                </div>
            </div>
        </div>

        <div class="form-floating shadow mb-3">
            <input type="text" class="form-control" id="inputName" placeholder="Nume" th:field="${biblioteca.name}">
            <label for="inputName">Nume</label>
        </div>

        <div class="row row-cols-2">
            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="text" class="form-control" id="inputColor" placeholder="Culoare" th:field="${biblioteca.color}">
                    <label for="inputColor">Culoare</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="text" class="form-control" id="inputMaterial" placeholder="Material" th:field="${biblioteca.material}">
                    <label for="inputMaterial">Material</label>
                </div>
            </div>
        </div>

        <div class="row row-cols-3">
            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="number" class="form-control" id="inputHeight" placeholder="Inaltime" th:field="${biblioteca.height}">
                    <label for="inputHeight">Înălțime</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="number" class="form-control" id="inputLength" placeholder="Lungime" th:field="${biblioteca.length}">
                    <label for="inputLength">Lungime</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating shadow mb-3">
                    <input type="number" class="form-control" id="inputWidth" placeholder="Latime" th:field="${biblioteca.width}">
                    <label for="inputWidth">Lățime</label>
                </div>
            </div>
        </div>

        <div class="form-floating shadow mb-3">
            <input type="number" class="form-control" id="inputPrice" placeholder="Pret" th:field="${biblioteca.price}">
            <label for="inputPrice">Preț</label>
        </div>

        <div class="d-grid gap-2 col-4 shadow mb-3 mx-auto">
            <button class="btn btn-primary shadow" type="submit">Trimiteți</button>
        </div>
    </form>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>