<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Biblioteci</title>
    <link rel="icon" type="image/x-icon" th:href="@{assets/brand/cart-icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="bg-image" style="background-image: url('/assets/background.jpg'); height: 100vh">
<!-- Clasă Navbar -->
<nav class="navbar fixed-top navbar-expand-sm shadow mb-2" style="background-color: #e3f2fd;">
    <div class="container-lg">
        <a class="navbar-brand" href="/index">
            <img width="32" height="32" class="d-inline-block align-text-top" th:src="@{assets/brand/cart-icon.png}" src="" alt="" >
            Acasă
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/birouri">Birouri</a>
                <a class="nav-link" href="/scaune">Scaune</a>
                <a class="nav-link active" aria-current="page" href="/biblioteci">Biblioteci</a>
                <a class="nav-link" href="/rafturi">Rafturi</a>
                <a class="nav-link" href="/comode">Comode</a>
            </div>
        </div>
    </div>
</nav>

<!-- Pentru a spația corect conținutul de Navbar -->
<div class="d-flex" style="height: 60px;">
    <div class="vr"></div>
</div>

<!-- Clasă tabel -->
<div class="mt-2 container-xl">
    <table class="table bg-body table-striped table-hover rounded shadow">
        <thead>
        <tr>
            <td>Nr. Int.</td>
            <td>Categorie</td>
            <td>Nume</td>
            <td>Culoare</td>
            <td>Material</td>
            <td>Înălțime</td>
            <td>Lungime</td>
            <td>Lățime</td>
            <td>Preț</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="biblioteca : ${listaBiblioteca}">
            <td th:text="${biblioteca.nr}+'.'"></td>
            <td th:text="${biblioteca.category}"></td>
            <td th:text="${biblioteca.name}"></td>
            <td th:text="${biblioteca.color}"></td>
            <td th:text="${biblioteca.material}"></td>
            <td th:text="${biblioteca.height}+' cm'"></td>
            <td th:text="${biblioteca.length}+' cm'"></td>
            <td th:text="${biblioteca.width}+' cm'"></td>
            <td th:text="${biblioteca.price}+' lei'"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>