<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Birouri</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/brand/cart-icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <style>
        body {
            background: url('/assets/background.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>
<body>
<!-- Clasă Navbar -->
<nav class="navbar fixed-top navbar-expand-sm shadow mb-2" style="background-color: #e3f2fd;">
    <div class="container-lg">
        <a class="navbar-brand" href="/index">
            <img width="32" height="32" class="d-inline-block align-text-top" th:src="@{/assets/brand/cart-icon.png}" src="" alt="" >
            Acasă
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPage" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPage">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/birouri">Birouri</a>
                <a class="nav-link" href="/scaune">Scaune</a>
                <a class="nav-link" href="/biblioteci">Biblioteci</a>
                <a class="nav-link" href="/rafturi">Rafturi</a>
                <a class="nav-link" href="/comode">Comode</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adăugați
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sm-end dropdown-menu-md-start shadow mt-3" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/adauga/birou">Adăugați birou</a>
                        <a class="dropdown-item" href="/adauga/scaun">Adăugați scaun</a>
                        <a class="dropdown-item" href="/adauga/biblioteca">Adăugați bibliotecă</a>
                        <a class="dropdown-item" href="/adauga/raft">Adăugați raft</a>
                        <a class="dropdown-item" href="/adauga/comoda">Adăugați comodă</a>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>

<!-- Pentru a spația corect conținutul de Navbar -->
<div class="d-flex" style="height: 60px;">
    <div class="vr"></div>
</div>

<!-- Clasă tabel din baza de date -->
<div class="mt-2 container-xl">
    <table class="table bg-body table-striped table-hover rounded shadow">
        <thead>
        <tr>
            <td>Categorie</td>
            <td>Nume</td>
            <td>Culoare</td>
            <td>Material</td>
            <td>Preț</td>
            <td>Magazin</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="birou : ${birouList}">
            <td th:text="${birou.category}"></td>
            <td th:text="${birou.name}"></td>
            <td th:text="${birou.color}"></td>
            <td th:text="${birou.material}"></td>
            <td th:text="${birou.price}+' lei'"></td>
            <td th:text="${birou.magazin.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>