<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rafturi</title>
    <link rel="icon" type="image/x-icon" th:href="@{assets/brand/cart-icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar sticky-top navbar-expand-sm shadow mb-2 rounded" style="background-color: #e3f2fd;">
    <div class="container-lg">
        <a class="navbar-brand" href="/index">
            <img width="32" height="32" class="d-inline-block align-text-top" th:src="@{assets/brand/cart-icon.png}" src="" alt="" >
            Acasă
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/birouri">Birouri</a>
                <a class="nav-link" href="/scaune">Scaune</a>
                <a class="nav-link" href="/biblioteci">Biblioteci</a>
                <a class="nav-link active" aria-current="page" href="/rafturi">Rafturi</a>
                <a class="nav-link" href="/comode">Comode</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-xl shadow mb-5 bg-body rounded">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Nr. Int.</td>
            <td>Categorie</td>
            <td>Nume</td>
            <td>Culoare</td>
            <td>Material</td>
            <td>Înălțime</td>
            <td>Lungime</td>
            <td>Lățime</td>
            <td>Preț</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="raft : ${listaRaft}">
            <td th:text="${raft.nr}+'.'"></td>
            <td th:text="${raft.category}"></td>
            <td th:text="${raft.name}"></td>
            <td th:text="${raft.color}"></td>
            <td th:text="${raft.material}"></td>
            <td th:text="${raft.height}+' cm'"></td>
            <td th:text="${raft.length}+' cm'"></td>
            <td th:text="${raft.width}+' cm'"></td>
            <td th:text="${raft.price}+' lei'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>