<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Scaune</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">
            <img src="../static/assets/brand/cart-icon.png" alt="" width="32" height="32" class="d-inline-block align-text-top" th:src="@{assets/brand/cart-icon.png}">
            Acasă
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/birouri">Birouri</a>
                <a class="nav-link active" aria-current="page" href="/scaune">Scaune</a>
                <a class="nav-link" href="/biblioteci">Biblioteci</a>
                <a class="nav-link" href="/rafturi">Rafturi</a>
                <a class="nav-link" href="/comode">Comode</a>
            </div>
        </div>
    </div>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Nr. Int.</td>
        <td>Categorie</td>
        <td>Nume</td>
        <td>Culoare</td>
        <td>Material</td>
        <td>Greutate maximă</td>
        <td>Înălțime</td>
        <td>Lungime</td>
        <td>Lățime</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="scaun : ${listaScaun}">
        <td th:text="${scaun.nr}+'.'"></td>
        <td th:text="${scaun.category}"></td>
        <td th:text="${scaun.name}"></td>
        <td th:text="${scaun.color}"></td>
        <td th:text="${scaun.material}"></td>
        <td th:text="${scaun.maxWeight}+' kg'"></td>
        <td th:text="${scaun.height}+' cm'"></td>
        <td th:text="${scaun.length}+' cm'"></td>
        <td th:text="${scaun.width}+' cm'"></td>
    </tr>
    </tbody>
</table>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>